<% include ./partials/header.ejs%>
<div class="ui main text container segment ">
  <div class="ui huge header">Login</div>
  <form class="ui form" action="/login" method="post">
    <div class="field">
      <label>username
      </label>
      <input type="text" name="username"  value=""  placeholder="write title">

    </div>
    <div class="field">
      <label>Password
      </label>
      <input type="password" name="password" value=""  placeholder="image link">
    </div>
    <input  class="ui purple big basic  button " type="submit" name="" value="Submit">
  </form>
</div>


<% include ./partials/footer.ejs%>
